@media (max-width: 900px){

    .col-3{

          display: none;
    }

}

.container{
    border: solid 2px #25AAD5;
    height: 450px;
    margin-top: 30px;
    width: 900px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); 
  
    
}


.mb-3 {
    width: 300px;
    
    
}

.col-3 {
    color: #1CA2E3;
    text-transform: capitalize;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        font-weight: 500;
        
}


.degree {
    font-weight: 700;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: #1CA2E3;
    font-family: Cambria,
        Cochin,
        Georgia,
        Times,
        'Times New Roman',
        serif;
        
}

.githubLink {
    text-align: center;
    color: #1CA2E3;

}

.col-2 {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}

.image{
    text-align: left;
}

.max-temp {
    color: yellow;
    font-size: 22px;
}
.min-temp {
    color: yellow;
    opacity: 0.5;
}

.day-forecast {
    color: #1CA2E3;
        font-family: 'Kalam', cursive;
        opacity: 0.6;
}

.cel {
    color:#1CA2E3;
    display: inline-block;
    font-size: 20px;
}
a {
    
    color: #1CA2E3;
}

a:hover {
    color: #0B5ED7;
    text-decoration: #1CA2E3;
}

h1 {
    text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #1CA2E3;
        font-family: Cambria,
            Cochin,
            Georgia,
            Times,
            'Times New Roman',
            serif;
}

body{
background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254) 86.8%);

} 
footer {
    text-decoration: none;
    font-family: 'Kalam', cursive;
}